.accordion__summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
    display: none;
}

.accordion__item {
    border: 1px solid #ACB5BD;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 8px;
    width: 730px;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__summary {
    display: block;
    padding: 24px 32px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    line-height: 24px;
    color: #212429;
}

.accordion__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.accordion__item[open] .accordion__summary {
    padding-bottom: 16px;
}

.accordion__content {
    padding: 0 32px 32px;
}