.skeleton {
    width: 579px;
    height: 192px;
    border: 1px solid #ACB5BD;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 24px 40px 32px 24px;
}

.skeleton__header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.skeleton__title {
    flex-basis: 100%;
    margin-left: 16px;
    flex-shrink: 1;
}

.skeleton__circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #DDE2E5;
    flex-shrink: 0;
}

.skeleton__line {
    height: 20px;
    width: 100%;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    margin-bottom: 8px;
}

.skeleton__line_first {
    max-width: 172px;
}

.skeleton__line_second {
    max-width: 257px;
}

.skeleton__line:last-child {
    margin-bottom: 0;
}